*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #0a283f;
    padding-top: 100px;
}

header {
    color: #41d3e0;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/*Formulário*/

.form-contato {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content:space-between;
}

form input {
    
    font-size: 24px;
    background-color: #0e4a63;
    border: none;
    border-bottom: 2px solid #41d3e0;
    border-right: 2px solid #41d3e0;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
}

form button {
    background-color: #41d3e0;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
}

/*Tabela*/

table {
    width: 100%;
    max-width: 550px;
    border: 6px solid #41d3e0;
    border-radius: 6px;
    box-shadow: 10px 20px #0e4a63;
}

table th {
    color: #41d3e0;
    border-bottom: 2px solid #0e4a63;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    color: #41d3e0;
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #0e4a63;
}

table tbody img {
    height: 30px;
}

#img-contato {
    border-bottom: 1px;
    width: 10%;
}



